
.box{
    text-transform: uppercase;
    font-family: "varela round";
    margin: 14px auto;
    display: block;
    border: 1px solid #ededed;
    border-radius: 5px;
    padding: 42px;
    background: #fff;
    width: calc(100% - 14px);
}

p{
    font-size: 12px;
}

.contactus {
    text-decoration: none;
    left: 0;
    bottom: 0;
    background-color: rgb(255, 71, 66);
    color: #fff;
    position: fixed;
    font-weight: 500;
    z-index: 18;
    border-top-right-radius: 5px;
    padding: 0.5em;
    border-top: 1px solid #efefef;
    font-weight: 800;
    border-right: 1px solid #efefef;
    background: #fff;
    color: #6f6f6f;
}

.contactus img {
    border-radius: 2em;
    width: 1.5em;
    vertical-align: middle;
}

.contactus p {
    margin: 0;
    vertical-align: middle;
    display: inline;
    margin-right: 0.5em;
    font-weight: 400;
}

@media(max-width:355px){
    .nav-pills .nav-link{
        font-size: 14px;
    }

    .by p{
        font-size: 12px;
    }

    .contactus p{
        font-size: 12px;
    }

    .scale{
        font-size: 19px;
    }

}