.course_detail {
    margin-top: 67px;
    height: min-content;
    background: #fbfbfb;
    font-family: "varela round";
}

.page-heading[_ngcontent-c1] .breadcrumbs[_ngcontent-c1] a[_ngcontent-c1], .page-heading[_ngcontent-c1] .breadcrumbs[_ngcontent-c1] i[_ngcontent-c1] {
    color: white;
}

.blueplay {
    cursor: pointer;
}

/* youtube embed */

/* 
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
    }
    
    .video-container iframe,
    .video-container object,
    .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    } */

.contactus {
    text-decoration: none;
    left: 0;
    bottom: 0;
    background-color: rgb(255, 71, 66);
    color: #fff;
    position: fixed;
    font-weight: 500;
    z-index: 18;
    border-top-right-radius: 5px;
    padding: 0.5em;
    border-top: 1px solid #efefef;
    font-weight: 800;
    border-right: 1px solid #efefef;
    background: #fff;
    color: #6f6f6f;
}

.contactus img {
    border-radius: 2em;
    width: 1.5em;
    vertical-align: middle;
}

.contactus p {
    margin: 0;
    vertical-align: middle;
    display: inline;
    margin-right: 0.5em;
    font-weight: 400;
    color: #6f6f6f;
}

.sample>li {
    padding: 10px;
    background: #272727;
    font-size: 10px;
    font-weight: lighter;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    line-height: 24px;
}

.sample>li:hover {
    background: #6f6f6f;
}

.price-slash {
    text-decoration: line-through;
    color: black;
}

vg-overlay-play .vg-overlay-play {
    height: 100vh;
}

.native-fullscreen {
    height: auto !important;
}

.vg-overlay-play native-fullscreen {
    height: auto;
}

vg-overlay-play .vg-overlay-play {
    height: -webkit-fill-available;
}

.breadcrumbs {
    font-family: "varela round";
}

/* 990-1200 */

@media(max-width:1200px) {
    vg-player {
        height: 50vh;
    }
    vg-scrub-bar {
        margin-top: 20px;
    }
}

@media (min-width:990px) {
    vg-player {
        height: 60vh;
    }
}

.iconload {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: aliceblue;
    z-index: 1000;
    position: fixed;
    transition: 1s;
    animation-delay: .5s;
}

.iconload>img {
    margin-top: 40vh;
}