<div class="breadcumb-area">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item"><a routerLink="/courses">Courses</a></li>
      <!-- <li class="breadcrumb-item active" aria-current="page" routerLink="/cart"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i><sup *ngIf="lengthOfCart > 0"><span class="badge badge-pill badge-danger">{{lengthOfCart}}</span></sup></li> -->
    </ol>
  </nav>
</div>
<div class="bg-img d-flex align-items-center justify-content-center p-3"
  style="box-shadow: 0 26px 30px -14px rgba(0,102,245,0.08);height: 150px; background: white;">
  <h3 style="color: rgb(36, 121, 246);font-size: 45px;">courses</h3>
</div>

<app-courselist [courses]="courses"></app-courselist>