<!-- ##### Header Area Start ##### -->
<header class="header-area">
  <!-- Navbar Area -->
  <div class="clever-main-menu">
    <div class="classy-nav-container breakpoint-off">
      <!-- Menu -->
      <nav class="classy-navbar justify-content-between" id="cleverNav">

        <!-- Logo -->
        <a class="nav-brand" href="index.html"><img src="assets/icons/app.png" style="height: 30px; width: 30px;"
            alt="">StudyKrib</a>

        <!-- Navbar Toggler -->
        <div class="classy-navbar-toggler">
          <span class="navbarToggler"><span></span><span></span><span></span></span>
        </div>

        <!-- Menu -->
        <div class="classy-menu">

          <!-- Close Button -->
          <div class="classycloseIcon">
            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
          </div>

          <!-- Nav Start -->
          <div class="classynav">
            <ul>
              <li><a routerLink="/">Home</a></li>
              <li><a routerLink="/courses">Courses</a></li>
              <li><a routerLink="/login">Login</a></li>
            </ul>
          </div>
          <!-- Nav End -->
        </div>
      </nav>
    </div>
  </div>
</header>
<!-- ##### Header Area End ##### -->

<section class="register-now section-padding-100-0 d-flex justify-content-between align-items-center"
  style="background-image: url(/assets/img/core-img/texture.png);min-height: 100vh;">
  <!-- Register Contact Form -->
  <div class="register-contact-form mb-100 wow fadeInUp" data-wow-delay="250ms">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="forms">
            <h4>Login</h4>
            <form #user="ngForm" (ngSubmit)="login(user.value)">
              <div class="row">
                <div class="col-12 col-lg-12">
                  <div class="form-group">
                    <input type="text" class="form-control" id="text" placeholder="Username" name="username" ngModel>
                  </div>
                </div>
                <div class="col-12 col-lg-12">
                  <div class="form-group">
                    <input type="password" class="form-control" id="site" placeholder="Password" name="password"
                      ngModel>
                  </div>
                </div>
                <div class="col-12">
                  <button class="btn clever-btn w-100">Login</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Register Now Countdown -->
  <div class="register-now-countdown mb-100 wow fadeInUp" data-wow-delay="500ms">
    <h3>Sign In</h3>
    <p>Login to your account and get access to your tutorial videos any time, any where.</p>
    <br>
    <p><a routerLink="/signup" style="color:blue;">Don't have an account?</a></p>
    <!-- Register Countdown -->
    <div class="register-countdown">
      <div class="events-cd d-flex flex-wrap" data-countdown="2019/03/01"></div>
    </div>
  </div>
</section>

<div class="modal micromodal-slide" id="modal-1" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title" style="margin:27px;">
      <header class="modal__header">
        <h2 class="modal__title" id="modal-1-title">
          {{modalTitle}}
        </h2>
        <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
      </header>
      <main class="modal__content" id="modal-1-content">
        <p>
          {{modalText}}
        </p>
      </main>
      <footer class="modal__footer">
        <button class="modal__btn" data-micromodal-close aria-label="Close this dialog window">Close</button>
      </footer>
    </div>
  </div>
</div>