<div class="container-fluid login_body">
  <div class="text-center iconload" *ngIf="loader"><img src="assets/icons/favicon (2).png" style="width:140px" alt="">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12" style="margin-top:5vh">
        <div class="group">
          <div class="group-heading">👩‍💻 Login</div>
          <br>
          <form #user="ngForm" (ngSubmit)="login(user.value)">
            <input type="text" name="username" placeholder="Username" ngModel>
            <input type="password" placeholder="Password" name="password" ngModel>
            <button class="signup-btn btn ">Sign In</button>
            <br>
            <br>
            <div class="text-center"><a routerLink="/signup" style="margin:14px;color:whitesmoke">Don't have an
                account?</a></div>
            <br>
            <!-- <a href="" style="margin:14px;color:skyblue">Forgot Password?</a> -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>