<div class="container-fluid contact_body">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <!-- <a class="box">
        <p class="m-0 text-center text-white small"> <i class="fab fa-phone"></i> +2349073337066</p>
      </a> -->
      <a href="https://www.instagram.com/jefftutors/" target="blank" class="box">
        <p class="m-0 text-center text-white small"> <i style="color:palevioletred" class="fab fa-instagram"></i>
          Instagram</p>
      </a>
      <a href="https://web.facebook.com/Jefftutors-2327029197577617" target="blank" class="box">
        <p class="m-0 text-center text-white small"> <i style="color:blue" class="fab fa-facebook"></i> Facebook</p>
      </a>
      <a class="box">
        <p class="m-0 text-center text-white small" (click)="contactMe()"> <i style="color:green" class="fab fa-whatsapp"></i>
          Whatsapp Us</p>
      </a>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>