 <!-- ##### Breadcumb Area Start ##### -->
 <div class="breadcumb-area">
    <!-- Breadcumb -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/courses">Courses</a></li>
        <li class="breadcrumb-item active" aria-current="page" routerLink="/cart"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i><sup *ngIf="lengthOfCart > 0"><span class="badge badge-pill badge-danger">{{lengthOfCart}}</span></sup></li>
      </ol>
    </nav>
  </div>
  <!-- ##### Breadcumb Area End ##### -->
  
<div class="container">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <h5 class="text-center"></h5>
      <div *ngIf="cartItems.length<1">
        <img src="assets/img/emptycart.png">
        <p class="text-center">Your cart is empty</p>
      </div>
      <div class="col-12 col-md-12 col-lg-12" *ngFor="let item of cartItems">
        <div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="750ms">
          <!-- <img src="assets/img/bg-img/e3.jpg" alt=""> -->
          <!-- Course Content -->
          <div class="course-content">
            <h4>{{item.course_name}}</h4>
            <div class="meta d-flex align-items-center">
              <a href="#">{{item.course_code}}</a>
              <span><i class="fa fa-circle" aria-hidden="true"></i></span>
              <!-- <a href="#">Art &amp; Design</a> -->
            </div>
            <p>
              <!-- {{item.course_description}} -->
            </p>
          </div>
          <!-- Seat Rating Fee -->
          <div class="seat-rating-fee d-flex justify-content-between">
            <div class="seat-rating h-100 d-flex align-items-center">
              <div class="seat">
                <i class="fa fa-user" aria-hidden="true"></i> {{item.views}}
              </div>
              <div class="rating">
                <i class="fa fa-video-camera" aria-hidden="true"></i> {{item.number_of_courses}}
              </div>
              <!-- <div class="seat">
                      <i class="fa fas fa-money" aria-hidden="true"></i> N{{course.course_price / 100}}
                    </div> -->
            </div>
            <div class="course-fee h-100">
              <a (click)="removeFromCart()" style="background:red;"> <i class="fa fa-trash" aria-hidden="true"></i></a>
              <a routerLink="/tutorials/course/{{item.course_code}}">view</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3"></div>
  </div>
</div>