nav {
    background: white;
    /* box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15); */
    border: none !important;
}

.top-footer-area {
    padding: 10px;
}

.navbar-dark .navbar-toggler {
    background: black;
}

.navbar-dark .navbar-brand {
    color: black;
}

.navbar-dark .navbar-nav .nav-link {
    color: black;
}

.container-fluid {
    margin-top: 54px;
}

img {
    height: 20px;
    margin-bottom: 8px;
}

#jeff-logo {
    font-family: 'varela round';
}

#sidebar-wrapper{
    margin-top: -5px;
    border: none !important;
}

#sidebar-wrapper .sidebar-heading {
    font-weight: bold;
}

#menu-toggle:focus{
    box-shadow: none !important;

}


/* 
@media(min-width:775px) {
    #jeff-logo {
        display: none;
    }
} */

@media(min-width:990px) {
    #jeff-logo {
        margin-left: 42%;
    }
}

@media(max-width:990px) {
    #jeff-logo {
        margin-left: 0px;
    }
}

@media(max-width:992px) {
    #hideMenuBtn {
        display: none;
    }
}