<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Jefftutors</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <!-- <li class="nav-item">
              <a class="nav-link" target="blanck" href="https://phirmware.github.io/cgpa-calculator">cgpa calculator</a>
            </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/FAQ's">FAQ</a>
        </li>
        <li class="nav-item">
          <a *ngIf="!isLoggedIn()" class="nav-link" routerLink="/signup">Register</a>
        </li>
        <li class="nav-item">
          <a *ngIf="!isLoggedIn()" class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a routerLink="/contact" class="nav-link">Contacts</a>
        </li>
        <li class="nav-item">
          <a *ngIf="isLoggedIn()" class="nav-link" routerLink="/dashboard">Dashboard</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<!-- ##### Footer Area Start ##### -->
<footer class="footer-area">
    <!-- Top Footer Area -->
    <div class="top-footer-area">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <!-- Footer Logo -->
            <!-- <div class="footer-logo">
              <a href="index.html"><img src="assets/img/core-img/logo2.png" alt=""></a>
            </div> -->
            <!-- Copywrite -->
            <p><a href="#">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made
                with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com"
                  target="_blank">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Bottom Footer Area -->
    <div class="bottom-footer-area d-flex justify-content-between align-items-center">
      <!-- Contact Info -->
      <div class="contact-info">
        <a href="#"><span>Phone:</span> +234 907 333 7066</a>
        <a href="#"><span>Email:</span> jefftutors1@gmail.com</a>
      </div>
      <!-- Follow Us -->
      <div class="follow-us">
        <span>Follow us</span>
        <a href="https://web.facebook.com/Jefftutors-2327029197577617"><i class="fa fa-facebook"
            aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/jefftutors/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </div>
    </div>
  </footer>
<ng4-loading-spinner> </ng4-loading-spinner>