<div class="d-flex" id="wrapper" #sidebar>
  <!-- Sidebar -->
  <div class="bg-light border-right sticky-top" id="sidebar-wrapper">
    <div class="sidebar-heading" routerLink="/"> <img src="assets/icons/app.png" alt=""> StudyKrib </div>
    <div class="list-group list-group-flush">
      <a routerLink="/dashboard" (click)="toggleNav()" *ngIf="isLoggedIn()"
        class="list-group-item list-group-item-action bg-light">My Dashboard</a>
      <a routerLink="/courses" (click)="toggleNav()" class="list-group-item list-group-item-action bg-light">Courses</a>
      <a routerLink="/tutorials/FAQ's" (click)="toggleNav()"
        class="list-group-item list-group-item-action bg-light">FAQ</a>
      <a routerLink="/tutorials/contact" (click)="toggleNav()"
        class="list-group-item list-group-item-action bg-light">Contact
        Us</a>
      <a routerLink="/signup" (click)="toggleNav()" *ngIf="!isLoggedIn()"
        class="list-group-item list-group-item-action bg-light">Register</a>
      <a routerLink="/login" (click)="toggleNav()" *ngIf="!isLoggedIn()"
        class="list-group-item list-group-item-action bg-light">Login</a>
    </div>
  </div>
  <!-- sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom fixed-top" style="box-shadow: 0 26px 30px -14px rgba(0,102,245,0.08);">
      <button class="btn btn-primary" id="menu-toggle" (click)="toggleNav()">📖</button>
      <div style="font-weight:bold;font-size:21px;outline: none;color: #167bfa;" id="jeff-logo" routerLink="/">studykrib</div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/"><i class="fa fas fa-home" aria-hidden="true"></i> Home <span
                class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" *ngIf="isLoggedIn()" id="navbarDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user" aria-hidden="true"></i> My Profile
            </a>
            <div id="smallnav" class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink="/dashboard">My Dashboard</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" style="color:red" (click)="logOut()"><i class="fa fa-user"
                  aria-hidden="true"></i> logout</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid">
      <a *ngIf="!isLoggedIn()" class="notification"> <span>New</span> Free 7 Days Trial After Signup</a>
      <ng4-loading-spinner> </ng4-loading-spinner>
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- page-content-wrapper -->

</div>

<!-- ##### Footer Area Start ##### -->
<footer class="footer-area">
  <!-- Top Footer Area -->
  <div class="top-footer-area">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Footer Logo -->
          <p><a href="#">
              Copyright &copy;
              <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made
              with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com"
                target="_blank">Colorlib</a>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Bottom Footer Area -->
  <div class="bottom-footer-area d-flex justify-content-between align-items-center">
    <!-- Contact Info -->
    <div class="contact-info">
      <a href="#"><span>Phone:</span> +234 907 333 7066</a>
      <a href="#"><span>Email:</span> info.jefftutors@gmail.com</a>
    </div>
    <!-- Follow Us -->
    <div class="follow-us">
      <span>Follow us</span>
      <a href="https://web.facebook.com/Jefftutors-2327029197577617"><i class="fa fa-facebook"
          aria-hidden="true"></i></a>
      <a href="https://www.instagram.com/jefftutors/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    </div>
  </div>
</footer>
