.admin_page{
    margin-top: 67px;
}

.login_form input{
    border: 2px solid black;
    outline: none;
    width: 60%;
    margin: 0px auto;
}

.login_form input  :active{
    outline: none;
}
.login_form label{
    color: palevioletred;
    font-weight: bolder;
}
