<div class="admin_page">
  <h2 class="text-center text-uppercase">Admin Page</h2>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs nav-pills nav-justified text-center">
    <li class="nav-item" (click)="page ='page1'">
      <a class="nav-link" [class.active]="page=='page1'">
        <i class="fas fa-home"></i>
      </a>
    </li>
    <li class="nav-item" (click)="page = 'page2'">
      <a class="nav-link" [class.active]="page == 'page2'">Add a course</a>
    </li>
    <li class="nav-item" (click)="page = 'page3'">
      <a class="nav-link" [class.active]="page == 'page3'">All Courses</a>
    </li>
    <li class="nav-item" (click)="page = 'page5'">
      <a class="nav-link" [class.active]="page == 'page5'">All Comments</a>
    </li>
    <li class="nav-item" (click)="page = 'page4'">
      <a class="nav-link" [class.active]="page == 'page4'" style="color: red">
        <i class="fas fa-user" style="color: red"></i>
      </a>
    </li>
  </ul>
</div>

<!-- Tab panes -->
<div class="tab-content" [ngSwitch]="page">
  <div id="home" class="container tab-pane active" *ngSwitchCase="'page1'">
    <h3 class="text-center">Users</h3>
    <br>
    <table class="table table-dark text-center" style="width: 50%;margin: 0px auto;border-radius: 5px">
      <tbody>
        <tr *ngFor="let user of users">
          <td>
            <i class="fas fa-user"></i>
            <br> {{user.username}}
          </td>
          <td>
            <i class="fas fa-envelope"></i>
            <br>{{user.email}}</td>
          <td>
            <button class="btn btn-info" data-toggle="modal" data-target="#myModal"
              (click)="getUser(user.username)">Update</button>
          </td>
          <td>
            <button class="btn btn-danger" (click)="deleteUser(user.username)">Delete</button>
          </td>
          <td>
            <button class="btn btn-success" data-toggle="modal" data-target="#myModal0"
              (click)="getUser(user.username)">Add
              course to this user</button>
          </td>
        </tr>
      </tbody>
    </table>
    <br>
    <!-- The Modal for editting a user -->
    <div class="modal fade" id="myModal">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Edit User</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <form #user="ngForm" (ngSubmit)="editUser(user.value,username)" class="form-group mt-2 login_form"
              style="border-radius: 5px" autocomplete="off">
              <label for="username" class="text-center" style="width: 100%">Username</label>
              <input name="username" ngModel type="text" id="username" [ngModel]="username"
                class="form-control text-center">
              <div class="form-group mt-2">
                <label for="email" class="text-center" style="width: 100%">Email</label>
                <input ngModel name="email" type="email" id="email" [ngModel]="email" class="form-control text-center">
                <div class="submit mt-2">
                  <button class="btn btn-primary btn-lg btn-block mt-4"
                    style="width: 60%;margin: 0px auto;">Update</button>
                </div>
              </div>
            </form>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>
    <!-- The Modal for adding a course to a user -->
    <div class="modal fade" id="myModal0">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Add Course to User</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
            <form #course="ngForm" (ngSubmit)="addCourseToUser(course.value)" class="form-group mt-2 login_form"
              style="border-radius: 5px" autocomplete="off">
              <label for="username" class="text-center" style="width: 100%">Username</label>
              <input name="username" ngModel type="text" id="username" [ngModel]="username"
                class="form-control text-center">
              <label for="coursecode" class="text-center" style="width: 100%">Course Code</label>
              <input name="course_code" ngModel type="text" id="coursecode" class="form-control text-center">
              <div class="form-group mt-2">
                <div class="submit mt-2">
                  <button class="btn btn-primary btn-lg btn-block mt-4" style="width: 60%;margin: 0px auto;">Add
                    Course</button>
                </div>
              </div>
            </form>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div id="menu1" class="container tab-pane active" *ngSwitchCase="'page2'">
    <br>
    <div class="container">
      <h3>A course should have ..</h3>
      <ol class="list list-group">
        <li>Course Name</li>
        <li>Course Code</li>
        <li>Number of videos</li>
        <li>Course content seperated by commas</li>
      </ol>
      <h4 class="text-center">
        <button class="btn btn-info" data-toggle="modal" data-target="#myModal1">Add a course</button>
      </h4>
      <div class="row">
        <div class="modal fade" id="myModal1">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">

              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title text-center">Add a course</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>

              <!-- Modal body -->
              <div class="modal-body">
                <form #course="ngForm" (ngSubmit)="addCourse(course.value)" class="form-group mt-2 login_form"
                  style="border-radius: 5px" autocomplete="off">
                  <label for="course_name" class="text-center" style="width: 100%">Course Name</label>
                  <input name="course_name" ngModel type="text" id="course_name" class="form-control text-center">
                  <div class="form-group mt-2">
                    <label for="price" class="text-center" style="width: 100%">Course Price</label>
                    <input ngModel name="course_price" type="text" id="price" class="form-control text-center">
                    <label for="text" class="text-center" style="width: 100%">Course Code</label>
                    <input ngModel name="course_code" type="text" id="text" class="form-control text-center">
                    <label for="number" class="text-center mt-2" style="width: 100%">Number of Videos</label>
                    <input ngModel name="number_of_courses" type="number" id="number" class="form-control text-center">
                    <label for="content" class="text-center mt-2" style="width: 100%">Course Contents seperated by
                      commas</label>
                    <input ngModel name="course_content" type="text" id="content" class="form-control text-center">
                    <label for="content" class="text-center mt-2" style="width: 100%">Course Description</label>
                    <input ngModel name="course_description" type="text" id="content" class="form-control text-center">
                    <div class="submit mt-2">
                      <button class="btn btn-primary btn-lg btn-block mt-4" style="width: 60%;margin: 0px auto;">Add
                        Course</button>
                    </div>
                  </div>
                </form>
              </div>

              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>

            </div>
          </div>
        </div>
        <div style="height: 80vh">
        </div>
      </div>
    </div>
  </div>
  <div id="menu2" class="container tab-pane active" *ngSwitchCase="'page3'">
    <br>
    <h3 class="text-center">All Courses</h3>
    <table class="table table-dark text-center" style="width: 50%;margin: 0px auto;border-radius: 5px">
      <tbody>
        <tr *ngFor="let course of courses">
          <td>
            {{course.course_name}}
          </td>
          <td>{{course.course_code}}</td>
          <td>
            <button class="btn btn-info" data-toggle="modal" data-target="#myModal2"
              (click)="getCourse(course.course_code)">Update</button>
          </td>
          <td>
            <button class="btn btn-danger" (click)="deleteCourse(course.course_code)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="modal fade" id="myModal2">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title text-center">Edit a course</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <form #course="ngForm" (ngSubmit)="editCourse(course.value)" class="form-group mt-2 login_form"
              style="border-radius: 5px" autocomplete="off">
              <label for="course_name" class="text-center" style="width: 100%">Course Name</label>
              <input name="course_name" ngModel type="text" [ngModel]="courseEditCourse_name" id="course_name"
                class="form-control text-center">
              <div class="form-group mt-2">
                <label for="text" class="text-center" style="width: 100%">Course Code</label>
                <input ngModel name="course_code" type="email" [ngModel]="courseEditCourse_code" id="text"
                  class="form-control text-center">
                <label for="price" class="text-center" style="width: 100%">Course Price</label>
                <input ngModel name="course_price" type="text" [ngModel]="courseEditCourse_price" id="text"
                  class="form-control text-center">
                <label for="number" class="text-center mt-2" style="width: 100%">Number of Videos</label>
                <input ngModel name="number_of_courses" type="number" id="number" [ngModel]="courseEditNumber"
                  class="form-control text-center">
                <label for="content" class="text-center mt-2" style="width: 100%">Course Contents seperated by
                  commas</label>
                <input ngModel name="course_content" type="text" [ngModel]="coursesEdit" id="content"
                  class="form-control text-center">
                <label for="content" class="text-center mt-2" style="width: 100%">Course Description</label>
                <input ngModel name="course_description" [ngModel]="courseEditDescription" type="text" id="content"
                  class="form-control text-center">
                <div class="submit mt-2">
                  <button class="btn btn-primary btn-lg btn-block mt-4"
                    style="width: 60%;margin: 0px auto;">Submit</button>
                </div>
              </div>
            </form>
          </div>
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
  <div class="container tab-pane active" *ngSwitchCase="'page4'">
    <br>
    <h4 class="text-center text-bold">User Profile</h4>
    <table class="table table-dark text-center" style="width: 80%;margin: 0px auto;border-radius: 5px">
      <tbody>
        <tr>
          <td>
            <i class="fas fa-user"></i> Username
          </td>
          <td>Admin</td>
        </tr>
        <tr>
          <td>
            <i class="fas fa-envelope"></i> Email
          </td>
          <td>Admin</td>
        </tr>
      </tbody>
    </table>

    <div>
      <button class="btn btn-danger" (click)="logOut()" style="margin: 0px auto;">Logout</button>
    </div>
  </div>
  <div id="home" class="container tab-pane active" *ngSwitchCase="'page5'">
    <h4 class="text-center">All Comments</h4>

  </div>
</div>