.loading {
  height: 100vh;
  align-items: center;
}

video {
  height: 60vh;
  width: 100%;
}


#list-col {
  padding: 0px 15px 0px 0px;
}

.vid-col {
  padding: 0 !important;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 85vh;
}

.tab-pane {
  width: 100% !important;
}



.spinner-grow {
  margin: 50%;
  margin-top: 15%;
}

@media(min-width: 990px) {
  #videos{
    display: none !important;
  }

  #small-videos-menu{
    display: none !important;
  }
}

@media(max-width: 990px) {
  #list-col{
    display: none !important;
  }

  video{
    height: 50vh;
  }

  .nav-more{
    display: none !important;
  }
  ul {
    padding: 10px;
  }

  .video-list-group {
    overflow-y: auto;
    height: auto;
    cursor: pointer;
    padding: 10px !important;
  }

  #video-list{
    display: block !important;
  }

  .video-tab-link{
    display: block;
  }
}
