.loading {
  height: 100vh;
  align-items: center;
}

video {
  height: 70vh;
  width: 100%;
}

.video-list-group {
  overflow-y: scroll;
  height: 85vh;
  cursor: pointer
}

.list-col {
  padding: 0 !important;
}

.spinner-grow {
  margin: 50%;
  margin-top: 15%;
}

@media(max-width: 750px) {
  ul {
    padding: 10px;
  }
  .video-list-group {
    overflow-y: auto;
    height: auto;
    cursor: pointer;
    padding: 10px !important;
  }
}
