<div class="loading" *ngIf="!view">
  <div class="spinner-grow text-primary"></div>
</div>
<div class="container-fluid" *ngIf="view" style="overflow:hidden;">
  <div class="row">
    <div class="col-lg-12">
      <ul class="nav nav-tabs nav-justified">
        <li class="nav-item">
          <a class="nav-link active text-uppercase">{{view.course_code}} : {{view.course_name}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item nav-more">
          <a class="nav-link" routerLink="/courses">More Courses</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-9 vid-col">
      <div class="video-container">
        <video [src]="sanitizedUrl" autoplay [poster]="poster" controls  oncontextmenu="return false;" controlsList="nodownload" style="background: black" >
        </video>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul class="nav nav-tabs nav-justified">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#home">Overview</a>
            </li>
            <li class="nav-item" id="small-videos-menu">
              <a class="nav-link video-tab-link" data-toggle="tab" href="#videos">Videos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#menu1">Comments</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#menu2">Events</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li> -->
          </ul>
          <div class="tab-content">
            <div class="tab-pane container active" id="home">
              <app-overview [description]="view.course_description"></app-overview>
            </div>
            <div class="tab-pane container" id="videos">
              <app-videocontentlist [noVideos]="noVideos" (watchVideo)="watchVideo($event)" style="padding: 10px;" id="video-list"></app-videocontentlist>
            </div>
            <div class="tab-pane container" id="menu1">
              <app-comments [comments$]="comments$"></app-comments>
            </div>
            <div class="tab-pane container" id="menu2">
              <app-announcement></app-announcement>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3" id="list-col">
      <app-videocontentlist (watchVideo)="watchVideo($event)" [noVideos]="noVideos"></app-videocontentlist>
    </div>
  </div>
</div>
