<div class="container-fluid login_body">
  <div class="text-center iconload" *ngIf="loader"><img src="assets/icons/favicon (2).png" style="width:140px" alt="">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12" style="margin-top:5vh">
        <div class="group">
          <div class="group-heading">👩‍💻 Register</div>
          <br>
          <form #user="ngForm" (ngSubmit)="signUp(user.value)">
            <input type="text" name="username" placeholder="Username" ngModel>
            <input type="text" name="email" placeholder="Email" ngModel>
            <input type="text" name="phone" placeholder="Phone Number" ngModel>
            <input type="password" name="password" placeholder="Password" ngModel>
            <input type="password" name="confirmpassword" placeholder="Confirm Password" ngModel>
            <button class="signup-btn btn ">Sign Up</button>
            <br>
            <br>
            <div class="text-center"> <a routerLink="/login" style="margin:14px;color:whitesmoke">Already have an
                account?</a></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>