<!-- <section>
  <div class="breadcumb-area">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/courses">Courses</a></li>
        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
      </ol>
    </nav>
  </div>
  <div class="single-course-content section-padding-100">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-12">
          <div class="course--content">

            <div class="clever-tabs-content">
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="tab--1" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1"
                    aria-selected="false">Subscribed</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="tab--3" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3"
                    aria-selected="true"><i class="fa fa-user" aria-hidden="true"></i></a>
                </li>
              </ul>

              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab--1">
                  <div *ngIf="!coursesPurchased">
                    <div class="text-center">
                      <div class="spinner-grow text-primary" style="margin-top: 13%;"></div>
                      <p class="text-center">Loading.....</p>
                    </div>
                  </div>
                  <div *ngIf="coursesPurchased && coursesPurchased?.length < 1">
                    <img src="assets/img/empty.png">
                    <p class="text-center">You haven't subscribed for any course.</p>
                  </div>
                  <div class="col-12 col-md-12 col-lg-6">
                    <app-courselist [coursesPurchased]="coursesPurchased"></app-courselist>
                  </div>
                </div>
                <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab--3">
                  <div class="clever-review">
                    <div class="about-review mb-30 text-center">
                      <p class="text-center">Profile</p>
                      <br>
                      <a class="btn btn-info" target="blank" href="https://phirmware.github.io/cgpa-calculator">cgpa
                        calculator</a>
                    </div>

                    <div class="clever-ratings d-flex align-items-center mb-30">

                      <div class="total-ratings text-center d-flex align-items-center justify-content-center">
                        <div class="ratings-text">
                          <p class="text-center"><i class="fa fa-user" aria-hidden="true"></i> {{decodedToken.username}}
                          </p>
                          <p class="text-center"> {{decodedToken.email}}</p>
                          <button class="btn btn-danger" (click)="logOut()">Logout</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <nav class="navbar navbar-light bg-none">
        <div class="container-fluid">
          <a class="navbar-brand" routerLink="/">Studykrib</a>
          <a href="" class="d-flex user">@{{decodedToken.username}}</a>
        </div>
      </nav>
    </div>
    <div class="col-lg-12 bg-light dashboard">
      <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <a class="nav-link present-link">Dashboard</a>
          <a class="nav-link" routerLink="/courses">More Courses</a>
          <a target="blank" href="https://phirmware.github.io/cgpa-calculator" class="btn btn-primary d-flex">CGPA</a>
        </div>
      </nav>
      <div class="intro">
        <div class="container-fluid">
          <p class="intro-name mt-5">Howdy, {{decodedToken.username}}</p>
          <p class="intro-title">Your Courses</p>
          <hr />
          <div class="row">
            <div style="margin: auto;" *ngIf="!coursesPurchased">
              <div class="text-center">
                <div class="spinner-grow text-primary" style="margin-top: 13%; margin: auto;"></div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6" *ngFor="let course of coursesPurchased">
              <div class="cards">
                <div class="row">
                  <div class="col-lg-4">
                    <div class="cards icon-card" routerLink="/tutorials/coursecontent/{{course.course_code}}">
                      <p class="action">Watch Course</p>
                      <p class="icon-hand animate__animated animate__bounce ">☝</p>
                    </div>
                  </div>
                  <div class="col-lg-8">
                    <div class="cards-body text-center">
                      <p class="title">{{course.course_name.substring(0,10)}}</p>
                      <p class="desc">You have access to all videos and content</p>
                      <p class="action" routerLink="/tutorials/coursecontent/{{course.course_code}}">Watch Course</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>