.dashboard_body {
    margin-top: 67px;
    min-height: 80vh;
    background: #fbfbfb;
    font-family: "varela round";
}

.nav-item {
    cursor: pointer;
}

.nav-pills[_ngcontent-c1][_ngcontent-c1] .nav-link.active[_ngcontent-c1][_ngcontent-c1], .nav-pills[_ngcontent-c1][_ngcontent-c1] .show[_ngcontent-c1][_ngcontent-c1]>.nav-link[_ngcontent-c1][_ngcontent-c1], .nav-pills[_ngcontent-c2][_ngcontent-c1] .nav-link.active[_ngcontent-c2][_ngcontent-c1], .nav-pills[_ngcontent-c2][_ngcontent-c1] .show[_ngcontent-c2][_ngcontent-c1]>.nav-link[_ngcontent-c2][_ngcontent-c1] {
    background: transparent;
    color: black;
}

.nav-item:active {
    background: transparent;
    color: black;
}

.nav-item:hover {
    border: none;
}

.nav-pills[_ngcontent-c16] .nav-link.active[_ngcontent-c16], .nav-pills[_ngcontent-c16] .show[_ngcontent-c16]>.nav-link[_ngcontent-c16] {
    background: black;
    color: white;
}

#home {
    min-height: 100%;
    max-width: 90vw;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background: black !important;
    color: white !important;
    font-family: "varela round";
}

.box {
    text-transform: uppercase;
    font-family: "varela round";
    margin: 14px auto;
    display: block;
    border: 1px solid #ededed;
    border-radius: 5px;
    padding: 42px;
    background: #fff;
    width: calc(100% - 14px);
}

.iconload {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: aliceblue;
    z-index: 1000;
    position: fixed;
    transition: 1s;
    animation-delay: .5s;
}

.iconload>img {
    margin-top: 40vh;
}

.by {
    text-decoration: none;
    right: 0;
    bottom: 0;
    background-color: rgb(255, 71, 66);
    color: #fff;
    position: fixed;
    font-weight: 500;
    z-index: 18;
    border-top-left-radius: 5px;
    padding: 0.5em;
    border-top: 1px solid #efefef;
    font-weight: 800;
    border-left: 1px solid #efefef;
    background: #fff;
    color: #6f6f6f;
}

.by img {
    border-radius: 2em;
    width: 1.5em;
    vertical-align: middle;
}

.by p {
    margin: 0;
    vertical-align: middle;
    display: inline;
    margin-left: 0.5em;
    font-weight: 400;
}

.login_form {
    width: 50%;
    margin: 0px auto;
}

@media(max-width:355px) {
    .nav-pills .nav-link {
        font-size: 14px;
    }
    .by p {
        font-size: 12px;
    }
    .contactus p {
        font-size: 12px;
    }
    h3 h4 {
        font-size: 19px;
    }
    .scale {
        font-size: 19px;
    }
}

@media(max-width:600px) {
    .login_form {
        width: 100%;
    }
}