<!-- ##### Hero Area Start ##### -->
<section class="hero-area bg-img bg-overlay-2by5" style="background-image: url(assets/img/bg-img/bg1.jpg);">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <div class="hero-content text-center">
          <h2>Ace Your Exams <br> <span>With In-Depth Online Study</span></h2>
          <a (click)="nav()" class="btn clever-btn" style="color:white">Get Started</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### Hero Area End ##### -->

<!-- ##### Cool Facts Area Start ##### -->
<section class="cool-facts-area section-padding-100-0" id="hideMobile">
  <div class="container">
    <div class="row">
      <!-- Single Cool Facts Area -->
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="single-cool-facts-area text-center mb-100 wow fadeInUp" data-wow-delay="250ms">
          <div class="icon">
            <img src="assets/img/core-img/docs.png" alt="">
          </div>
          <h2><span class="counter">4</span></h2>
          <h5>Months Subscription</h5>
        </div>
      </div>

      <!-- Single Cool Facts Area -->
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="single-cool-facts-area text-center mb-100 wow fadeInUp" data-wow-delay="500ms">
          <div class="icon">
            <img src="assets/img/core-img/star.png" alt="">
          </div>
          <h2><span class="counter">3</span></h2>
          <h5>Dedicated Tutors</h5>
        </div>
      </div>

      <!-- Single Cool Facts Area -->
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="single-cool-facts-area text-center mb-100 wow fadeInUp" data-wow-delay="750ms">
          <div class="icon">
            <img src="assets/img/core-img/events.png" alt="">
          </div>
          <h2><span class="counter">12</span></h2>
          <h5>Hours Assistance</h5>
        </div>
      </div>

      <!-- Single Cool Facts Area -->
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="single-cool-facts-area text-center mb-100 wow fadeInUp" data-wow-delay="1000ms">
          <div class="icon">
            <img src="assets/img/core-img/earth.png" alt="">
          </div>
          <h2><span class="counter">{{courses.length}}</span></h2>
          <h5>Available Courses</h5>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### Cool Facts Area End ##### -->

<!-- ##### Popular Courses Start ##### -->
<section class="popular-courses-area section-padding-100-0"
  style="background-image: url(assets/img/core-img/texture.png);">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading">
          <h3>Available Online Courses</h3>
        </div>
      </div>
    </div>

    <div class="row">

      <!-- Single Popular Course -->
      <div class="col-12 col-md-6 col-lg-4" *ngFor="let course of courses">
        <div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="750ms">
          <img src="assets/img/bg-img/e3.jpg" alt="">
          <!-- Course Content -->
          <div class="course-content">
            <h4>{{course.course_name}}</h4>
            <div class="meta d-flex align-items-center">
              <a href="#">{{course.course_code}}</a>
              <span><i class="fa fa-circle" aria-hidden="true"></i></span>
              <!-- <a href="#">Art &amp; Design</a> -->
            </div>
            <p>
              {{course.course_description.substring(0,99)}} ....
            </p>
          </div>
          <!-- Seat Rating Fee -->
          <div class="seat-rating-fee d-flex justify-content-between">
            <div class="seat-rating h-100 d-flex align-items-center">
              <!-- <div class="seat">
                <i class="fa fa-user" aria-hidden="true"></i> {{course.views}}
              </div> -->
              <!-- <div class="rating">
                <i class="fa fa-video-camera" aria-hidden="true"></i> {{course.number_of_courses}}
              </div> -->
              <div class="seat">
                <i class="fa fas fa-money" aria-hidden="true"></i> N{{course.course_price / 100}}
              </div>
            </div>
            <div class="course-fee h-100">
              <a (click)="addToCart(course)" style="background:green;cursor: pointer;">+<i class="fa fa-cart-arrow-down" aria-hidden="true"></i></a>
              <a routerLink="/tutorials/course/{{course.course_code}}">view</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### Popular Courses End ##### -->

<!-- ##### Best Tutors Start ##### -->

<!-- ##### Best Tutors End ##### -->

<!-- ##### Register Now Start ##### -->
<section class="register-now section-padding-100-0 d-flex justify-content-between align-items-center"
  style="background-image: url(/assets/img/core-img/texture.png);">
  <!-- Register Contact Form -->
  <div class="register-contact-form mb-100 wow fadeInUp" data-wow-delay="250ms">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="forms">
            <h4>Join Us</h4>
            <form #user="ngForm" (ngSubmit)="signUp(user.value)">
              <div class="row">
                <div class="col-12 col-lg-6">
                  <div class="form-group">
                    <input type="text" class="form-control" id="text" placeholder="Username" name="username" ngModel>
                  </div>
                </div>
                <div class="col-12 col-lg-6">
                  <div class="form-group">
                    <input type="email" class="form-control" id="email" placeholder="Email" name="email" ngModel>
                  </div>
                </div>
                <div class="col-12 col-lg-6">
                  <div class="form-group">
                    <input type="text" class="form-control" id="phone" placeholder="Phone" name="phone" ngModel>
                  </div>
                </div>
                <div class="col-12 col-lg-6">
                  <div class="form-group">
                    <input type="password" class="form-control" id="site" placeholder="Password" name="password"
                      ngModel>
                  </div>
                </div>
                <div class="col-12">
                  <button class="btn clever-btn w-100">Register</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Register Now Countdown -->
  <div class="register-now-countdown mb-100 wow fadeInUp" data-wow-delay="500ms">
    <h3>Register Now</h3>
    <p>Create an account with Jefftutors and get access to your tutorial videos any time, any where.</p>
    <!-- Register Countdown -->
    <div class="register-countdown">
      <div class="events-cd d-flex flex-wrap" data-countdown="2019/03/01"></div>
    </div>
  </div>
</section>
<!-- ##### Register Now End ##### -->

<!-- ##### Upcoming Events Start ##### -->
<!-- ##### Upcoming Events End ##### -->

<!-- ##### Blog Area Start ##### -->
<!-- ##### Blog Area End ##### -->