@media(max-width: 767px) {
    #hideMobile {
        display: none;
    }
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

#course_list :focus {
    border: none;
}

.cool-facts-area {
    background: white;
}