header.masthead{
    background: darkslategray;
    height: max-content
}

.container{
    text-align: left;
}

header.masthead .masthead-content .masthead-heading{
    margin-top: -110px;
}

p{
    font-family: 'varela round';
}

.btn-secondary{
    background: black;
    border-color: darkslategrey;
}

.btn-secondary:hover{
    color: black;
}

#heading-text{
    color:black;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 40px
}

@media(max-width:450px){
    header.masthead .masthead-content .masthead-heading{
        margin-top: -110px;
        font-size: 50px;
    }
    
    #heading-text{
        font-size: 30px;
    }
}

.valuation-float {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    border-top: 1px solid #ededed;
    padding: 14px;
    display: block;
    font-size: 0.9em;
    z-index: 10;
    transition: 1s;
    animation-delay: 5s;
}

.action-close-catch-emails {
    font-size: 1.5em;
    margin-left: 0.75em;
    margin-right: 0.5em;
    margin-top: 0.5em;
    float: right;
    cursor: pointer;
    z-index: 10;
}

.button {
    background: #ff4742;
    border: 2px solid #ff4742;
    color: #fff;
    margin: 0.5em;
    border-radius: 5px;
}

.by {
    text-decoration: none;
    right: 0;
    bottom: 0;
    background-color: rgb(255, 71, 66);
    color: #fff;
    position: fixed;
    font-weight: 500;
    z-index: 18;
    border-top-left-radius: 5px;
    padding: 0.5em;
    border-top: 1px solid #efefef;
    font-weight: 800;
    border-left: 1px solid #efefef;
    background: #fff;
    color: #6f6f6f;
}

.by img {
    border-radius: 2em;
    width: 1.5em;
    vertical-align: middle;
}

.by p {
    margin: 0;
    vertical-align: middle;
    display: inline;
    margin-left: 0.5em;
    font-weight: 400;
}

.contactus {
    text-decoration: none;
    left: 0;
    bottom: 0;
    background-color: rgb(255, 71, 66);
    color: #fff;
    position: fixed;
    font-weight: 500;
    z-index: 18;
    border-top-right-radius: 5px;
    padding: 0.5em;
    border-top: 1px solid #efefef;
    font-weight: 800;
    border-right: 1px solid #efefef;
    background: #fff;
    color: #6f6f6f;
}

.contactus img {
    border-radius: 2em;
    width: 1.5em;
    vertical-align: middle;
}

.contactus p {
    margin: 0;
    vertical-align: middle;
    display: inline;
    margin-right: 0.5em;
    font-weight: 400;
}

@media(max-width:355px){
    .nav-pills .nav-link{
        font-size: 14px;
    }

    .by p{
        font-size: 12px;
    }

    .contactus p{
        font-size: 12px;
    }

}

@media(max-width:450px){
    .contactus p{
        font-size: x-small;
    }

    .by p{
        font-size: x-small;
    }
}