<div class="container-fluid login_body">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <h4 class="text-center mt-5" style="color: #ee0979">Admin Login</h4>
      <div class="lead mt-5" style="border-radius: 5px;">
        <form #user="ngForm" (ngSubmit)="loginAdmin(user.value)" class="form-group mt-2 login_form bg-secondary" style="border-radius: 5px" autocomplete="off">
          <label for="username" class="text-center" style="width: 100%">Email</label>
          <input name="email" ngModel type="email" id="username" class="form-control text-center">
          <div class="form-group mt-2">
            <label for="password" class="text-center" style="width: 100%">Password</label>
            <input ngModel name="password"  type="password" id="password" class="form-control text-center">
            <div class="submit mt-2">
              <button class="btn btn-primary btn-lg btn-block mt-4" style="width: 100%">login</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-lg-3"></div>
  </div>
</div>